@media only screen and (min-width: 780px) {
}

body {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#projects{
    margin-top: 500px;
}

#nav-bar {
    float: left; 
    text-align: center;
}
nav, section {
    align-content: center;
}

#welcome-section {
    overflow-y:auto;
    height:100%;
    padding: 20px;
    display: block;
}

a {
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 20px;
}
